<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <i class="fa fa-twitter-square fa-4x fa-flip-horizontal" aria-hidden="true"></i>

    </div>
</nav>